<section id="alpha"<%= current_segment.background %> class="clearfix">
	<div class="container">
		<div class="span-9 append-1 intro">
			<%= image_asset current_segment, :object => current_segment.logo, :dimensions => '324x>', :class => 'segment-logo' unless current_segment.logo.blank? %>
			<%= current_segment.body.to_html.html_safe %>
		</div>
		<duv class="span-5 last">
			231
		</duv>
	</div>
</section>
