.bundle
.ruby-version
vendor/ruby
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
public/cache/**/*
public/system/**/*
public/stylesheets/all.css
public/javascripts/all.js
public/index.html
.envrc
collections
.jekyll-cache
_site

# Ignore application configuration
/config/application.yml
/config/unicorn.conf
/config/database.yml
