<div class="updates block">
	<div class="va">
	<h2>Updates</h2>
  <ul class="clearfix">
  <% latest_updates.each do |update| %>
    <%= content_tag :li, :class => :clearfix do %>
      <%= render update %>
    <% end %>
  <% end %>
  </ul></div>
</div>
