{% assign i = 0 %}
{% assign type = '' %}
{% for block in include.collection %}
  {% if type != block.content_type %}
    {% if i > 0 %}</div>{% endif %}
    <div class="block-{{ block.content_type | pluralize | slugify }} {{ include.css }}">
    {% assign type = block.content_type %}
  {% endif %}
  {% if site.scoped_includes[page.layout] contains block.content_type %}
    {% include blocks/{{page.layout}}/{{block.content_type}}.html block=block counter=i %}
  {% else %}
    {% if block.thumbnail %}
      {% assign thumbnail_image = block.thumbnail.url %}
    {% elsif block.image %}
      {% assign thumbnail_image = block.image.url %}
    {% else %}
      {% assign thumbnail_image = site.image %}
    {% endif %}

    {% include blocks/{{block.content_type}}.html block=block counter=i %}
  {% endif %}
  {% assign i = i | plus: 1 %}
  {% if forloop.last == true %}</div>{% endif %}
{% endfor %}

