{% if page.blocks.size > 1 or page.content.size > 1 %}
<article class="position-relative overlap-header-30">
  <div class="line-bg">
    <div class="key-lines"></div>
  </div>

  <div class="row justify-content-end text-right pb-5">
    {% assign block = page.has_many.blocks | first %}
    {% include blocks/case_study/media_object.html block=block lead=true %}
    <div class="col-md-3 project-highlight">
      <aside class="mt-2">
        {{ page.content }}
      </aside>
    </div>
  </div>
</article>

{% assign blocks = page.has_many.blocks | where_exp:"item", "item.content_type != 'feature'" | shift %}
{% include blocks.html collection=blocks %}
{% endif %}