<footer>
  <div class="container pt-5">
    <div class="footer-links col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-12 col-md-4 mb-4 mb-md-0 align-self-md-start">
          <a href="/"><img src="{{ "/assets/svgs/msa-logo.svg" | absolute_url }}" alt="MSA Design logo"></a>
        </div>
        <div class="col-12 col-md-4 align-self-md-start">
          <ul class="list-inline social-icons mb-4 mb-md-0">
            <li class="list-inline-item"><a href="//www.linkedin.com/company/{{ linkedin_username }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item"><a href="//twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item"><a href="//www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item"><a href="//www.instagram.com/{{ site.instagram_username }}/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4 footer-buttons align-self-md-start">
          <div class="col-12 col-lg-6">
            <a class="btn btn-outline-light btn-slim text-uppercase" href="/contact#careers">careers</a>
          </div>
          <div class="col-12 col-lg-6">
            <a class="btn btn-outline-light btn-slim text-uppercase" href="/contact">contact</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center justify-content-center pb-4">
      <div class="col col-md-6">
        <p class="copyright">&copy; {{ site.time | date: '%Y' }} MSA. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>