<footer>
  <div class="container pt-5">
    <div class="footer-links col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <a href="/"><img src="{{ "/assets/svgs/msa-logo.svg" | absolute_url }}" alt="MSA architects logo"></a>
        </div>
        <div class="col-12 col-md-4 align-self-md-end">
          <ul class="list-inline social-icons mb-4 mb-md-0">
            <li class="list-inline-item"><a href="//www.linkedin.com/company/msa-architects"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item"><a href="//twitter.com/msaarch"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item"><a href="//www.facebook.com/MSAarchitects"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item"><a href="//www.instagram.com/msa_arch_ohio/"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4 align-self-md-end">
          <a class="btn btn-outline-light btn-slim text-uppercase" href="/contact#careers">careers</a>
        </div>
      </div>
    </div>
    <div class="row text-center justify-content-center pb-4">
      <div class="col col-md-6">
        <p class="copyright">&copy; {{ site.time | date: '%Y' }} MSA. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>