
<nav id="navbar-container" class="navbar navbar-lg navbar-dark position-absolute-top">
  <div class="container bg-navbar" >
    <a class="navbar-brand" href="/">
      <img src="{{ page | site_logo | absolute_url }}" alt="MSA Design logo">
    </a>
    <button data-toggle="dropdown" data-role="navbar-toggle" class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <div id="nav-icon">
        <span></span>
        <span class="no-focus"></span>
        <span></span>
      </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Inline list-style: none is a workaround for an IE/Edge bug -->
      <ul class="navbar-nav" style="list-style:none;list-style-position:inside;list-style-image:none;">
        <li class="nav-item">
          <a class="nav-link" href="/work">Work
          {% if page.url == '/work' %}
            <span class="sr-only">(current)</span>
          {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About
          {% if page.url == '/about' %}
            <span class="sr-only">(current)</span>
          {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact
          {% if page.url == '/contact' %}
            <span class="sr-only">(current)</span>
          {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/design-thinking">Design Thinking
          {% if page.url == '/design-thinking' %}
            <span class="sr-only">(current)</span>
          {% endif %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>