{% if include.title %}
  {% assign title = include.title | split: '\n' %}
{% else %}
  {% assign title = page.title | split: '\n' %}
{% endif %}

{% if include.subtitle %}
  {% assign subtitle = include.subtitle %}
{% else %}
  {% assign subtitle = page.subtitle %}
{% endif %}

<header class="jumbotron jumbotron-fluid{% if page.image_caption %} pb-0{% endif %}" style="background-image: url('{{ page.image | imgix: 'max-h=600&fit=crop&crop=entropy' }}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="padded-header">
          <h2 class="header-text-bg">
            {% for str in title %}
              {% if forloop.index0 > 0 %}<br>{% endif %}
              <span>{{ str }}</span>
            {% endfor %}
          </h2>
          {% if subtitle %}
          <span class="subheading">{{ subtitle }}</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% if page.image_caption %}
    <div class="row">
      <p class="header-info mt-md-3"><a href="#"></a>{{ page.image_caption }} > </a></p>
    </div>
    {% endif %}
  </div>
</header>