{% if include.title %}
  {% assign title = include.title | split: '\n' %}
{% else %}
  {% assign title = page.title | split: '\n' %}
{% endif %}

{% if include.subtitle %}
  {% assign subtitle = include.subtitle %}
{% else %}
  {% assign subtitle = page.subtitle %}
{% endif %}

<header class="jumbotron jumbotron-fluid" style="background-image: url('{{ page.image.url | imgix: 'max-h=900&fit=fill' }}');">
  <div class="header-carousel">
    {% for carousel_image in page.carousel_images %}
    <div style="background-image: url('{{ carousel_image.url | imgix: 'max-h=900&fit=fill' }}');"></div>
    {% endfor %}
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 padded-header">
        <h2 class="header-text-bg {% if title[0] contains 'ransportation' %}responsive-text{% endif %}">
          {% for str in title %}
            {% if forloop.index0 > 0 %}<br>{% endif %}
            <span>{{ str }}</span>
          {% endfor %}
        </h2>
        {% if subtitle %}
        <span class="subheading">{{ subtitle }}</span>
        {% endif %}
      </div>
    </div>
    {% if page.slug == "index" %}
      <div class="row">
        <div class="wrapper">
          <div class="spinny-wrapper">
            <h1 class="bg-red header-info mt-md-3">We are:</h1>
              <span class="word-carousel"> 
                <span>Passionate.</span> 
                <span>Disruptors.</span>
                <span>Relentless.</span>
                <span>Seeking Possibilities.</span>
                <span>Authentic.</span>
                <span>Community Builders.</span>
              </span>
          </div>  
        </div>
      </div>
    {% endif %}
  </div>
</header>