{% if include.title %}
  {% assign title = include.title | split: '\n' %}
{% else %}
  {% assign title = page.title | split: '\n' %}
{% endif %}

{% if include.subtitle %}
  {% assign subtitle = include.subtitle %}
{% else %}
  {% assign subtitle = page.subtitle %}
{% endif %}

<header class="jumbotron jumbotron-fluid" style="background-image: url('{{ page.image | imgix: 'max-h=900&fit=fill' }}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="padded-header">
          <h2 class="header-text-bg {% if title[0] == 'Transportation' %}responsive-text{% endif %}">
            {% for str in title %}
              {% if forloop.index0 > 0 %}<br>{% endif %}
              <span>{{ str }}</span>
            {% endfor %}
          </h2>
          {% if subtitle %}
          <span class="subheading">{{ subtitle }}</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% if page.slug == "index" %}
      <div class="row">
        <h1 class="header-info mt-md-3"><a href="/work">Architecture</a> | <a href="/markets/interiors/">Interiors</a> | <a href="/markets/graphics/">Graphics</a></h1>
      </div>
    {% endif %}
  </div>
</header>