{% if include.lead %}
  <div class="col-md-9 order-md-12">
    <img class="img-fluid d-block mx-auto pb-4" src="{% if include.block.image %}{{ include.block.image.url | imgix }}{% else %}{{ site.image }}{% endif %}" srcset="{% if include.block.image %}{{ include.block.image.url | imgix_srcset }}{% endif %}" sizes="{{ site.image_sizes.blocks }}" alt="{{ include.block.title }}">
    <div class="col-md-10 offset-md-2">
      {{ include.block.body | markdownify }}
    </div>
  </div>
{% else %}
  <div class="media-object {{ include.block.css }}">
    <figure>
      <img class="w-100" src="{{ include.block.image.url | imgix }}" srcset="{{ include.block.image.url | imgix_srcset }}" sizes="{{ site.image_sizes.blocks }}" alt="{{ include.block.title }}" />
      {% if include.block.body.size > 1 %}
      <figcaption>{{ include.block.body | markdownify }}</figcaption>
      {% endif %}
    </figure>
  </div>
{% endif %}