<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{HTTP_HOST} ^msaarch.com$ [NC]  
RewriteRule ^(.*)$ http://www.msaarch.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^msa-sport.net$ [NC,OR]  
RewriteCond %{HTTP_HOST} ^www.msa-sport.net$ [NC,OR]  
RewriteCond %{HTTP_HOST} ^msa-sport.org$ [NC,OR]  
RewriteCond %{HTTP_HOST} ^www.msa-sport.org$ [NC,OR]  
RewriteCond %{HTTP_HOST} ^msa-sport.com$ [NC,OR]  
RewriteCond %{HTTP_HOST} ^www.msa-sport.com$ [NC]  
RewriteRule ^(.*)$ http://www.msaarch.com/portfolio/msa-sport [R=301,L]

RewriteRule ^fire / [R=301,L]
RewriteRule ^five http://old.msaarch.com/five [R=302,L]
RewriteRule ^makeitofficial http://old.msaarch.com/makeitofficial [R=302,L]
</IfModule>