{% assign n = include.counter | modulo: 2 %}
{% if n == 1 %}
  {% assign klasses = 'home-content-left' %}
{% else %}
  {% assign klasses = 'home-content-right' %}
{% endif %}


<article class="{{ klasses }} media-object">
  <div class="line-bg">
    <div class="red-lines"></div>
  </div>
  <div class="media-object-content">
    <div>
      <img class="img-fluid" ix-src="{{ include.block.image | imgix }}" sizes="{{ site.image_sizes.blocks }}" alt="{{ include.block.title }}">
    </div>
    <div class="media-object-text">
      <h2 class="section-header">{{ include.block.title }}</h2>
      {{ include.block.content | markdownify }}
    </div>
  </div>
</article>