<div class="col-12 col-md-6 pb-3 mb-3">
  <section class="link-card">
    <a href="{{ include.post.url }}">
      <div class="link-img link-img-2x link-img-tall">
        <img class="object-fit-top" src="{{ include.post.image.url | imgix: 'w=275&h=210&fit=crop&crop=entropy' }}" srcset="{{ include.post.image.url | imgix_srcset: 'w=275&h=210&fit=crop&crop=entropy' }}" sizes="{{ site.image_sizes.cards_2x }}" alt="{{ include.post.title }}">
        <div class="bg-gradient-light"></div>
        <h3 class="link-title title-overlap title-overlap-2x">{{ include.post.title }}</h3>
      </div>
    </a>
  </section>
</div>