<div class="col-6 col-md-3">
  <section class="link-card">
    <a href="{{ include.post.url }}">
      <div class="link-img">
        <img class="img-fluid w-100" src="{{ include.post.image.url | imgix: 'w=400&h=300&fit=crop&crop=entropy' }}" srcset="{{ include.post.image.url | imgix_srcset: 'h=300&fit=crop&crop=entropy' }}" sizes="{{ site.image_sizes.cards_4x }}" alt="{{ include.post.title }}">
        <h3 class="link-title text-red">{{ include.post.title }}</h3>
      </div>
    </a>
    {% if include.post.author_first_name or include.post.author_last_name %}
    <div class="link-body">
      <p>by {{ include.post.author_first_name }} {{ include.post.author_last_name }}</p>
    </div>
    {% endif %}
  </section>
</div>