/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require ./farbtastic
 */

#asset-detail #colorpicker			{float: right; }
#asset-detail #asset_color			{width: 250px; }
#asset-detail #notifications		{margin-right: 7px; } 
#asset-list img.asset_thumb			{border-width: 3px; border-style: solid; }
div.opts												{float: left; margin-right: 20px; margin-bottom: 20px; width: 165px; }
div.opts label									{display: block; }
div#record-info										{padding-top: 10px; }
ul.feature_list									{margin: 0; padding: 0; list-style-type: none; }
ul.feature_list small						{float: right; }
ul.feature_list ul							{margin: 5px 0 20px; }
ul.feature_list li							{padding: 5px 0; }
ul.feature_list li.active				{padding-left: 15px; background: url(/assets/admin/published_bg.gif) no-repeat 0 50%; }
ul.feature_list li.inactive			{padding-left: 15px; background: url(/assets/admin/unpublished_bg.gif) no-repeat 0 50%; }