<h1>Public::Markets#show</h1>
<p>Find me in app/views/public/markets/show.html.erb</p>

<hr />

<div id="projects">
  <div class="span-3">
    <% unless current_market.categories.empty? %>
      <ul>
      <% current_market.categories.each do |category| %>
        <%= content_tag :li, "#{category.title} (#{category.projects_count})" %>
      <% end %>
      </ul>
    <% end %>
  </div>
  <div class="span-12 last">
    <% current_market.projects.each_with_index do |project, idx| %>
      <div class="span-3<%= ' last' if idx % 4 == 3 %>">
        <%= image_asset project, :object => project.thumbnail, :dimensions => '154x96', :class => 'frame', :style => "border-color: #{project.thumbnail.hex};" unless project.thumbnail.nil? %>
      </div>
    <% end %>
  </div>
</div>