<div id="left" class="column span-16 append-1">
	<%= content_tag :h2, title("Editing Career: #{current_career.title}"), :class => 'object_title' %>
	<%= render 'form' %>
</div>
<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_career %>
</div>