<div id="left" class="column span-16 append-1">
	<div class="index_header clearfix">
		<div class="column span-11">
			<% title('Careers') %>
			<%= content_tag :h2, 'Select a Career' %>
		</div>
		<div class="column span-5 last">
			<%= link_to_new :career, new_career_path %>
		</div>
	</div>
	<ul class="index_list sortable clear">
		<%= render :partial => 'admin/careers/career', :collection => current_careers %>
	</ul>
	<%= render 'admin/legend' %>
</div>
<div id="right" class="column span-7 last"></div>