.btn-slim {
  padding: .375rem 2rem;
  font-size: .75rem;
  line-height: .75rem;
  border-radius: 0;

  &:hover {
    color: $red;
  }
}

.btn-gray-light {
  border: 2px solid rgba($gray-600, 0.25);
  font-family: $font-family-urwdin-cond;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.6px;
  text-align: center;
  color: $red;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-transform: uppercase;

  &:hover{
    color: $red;
    border: 2px solid rgba($gray-600, 0.5);
    background-color: transparent;
    text-decoration: none;
  }
}

.btn-red {
  font-family: $font-family-urwdin-cond;
  text-transform: uppercase;
  color: $white;
  background-color: $red;
  border: solid 2px $red;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: $letter-spacing-base;
  text-align: center;
  border-radius: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &:hover{
    color: $red;
    border: solid 2px $red;
    background-color: $white;
    text-decoration: none;
  }
}

.btn-white {
  @extend .btn-red;
  color: $red;
  background-color: $white;

  &:hover {
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
  }
}

.button-link {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
  }
}
