
.link-card {
  .link-img {
    position: relative;

    &.link-img-2x {
      height: 6rem;

      @media (min-width: $screen-md) {
        height: 10rem;
      }
    }
  }

  .link-title {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    padding-left: .5rem;
    padding-top: .5rem;

    @media (min-width: $screen-md) {
      font-size: 1rem;
      padding-left: 1rem;
    }
  }

  .title-overlap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $white;

    &.title-overlap-2x {
      font-size: 2rem;
      padding-left: .5rem;

      @media (min-width: $screen-md) {
        font-size: 2rem;
        padding-left: 1rem;
      }
    }

    &.title-overlap-4x {
      font-size: 1.5rem;
      padding-left: .5rem;

      @media (min-width: $screen-md) {
        font-size: 1.875rem;
        padding-left: 1rem;
      }
    }
  }

  .link-body {
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1rem;
    line-height: 1.4rem;
    background-color: $white;

    @media (min-width: $screen-md) {
      padding-left: 1rem;
      padding-right: 3rem;
    }
  }
}

.bg-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba($black, 0), rgba($black, 0.34) 51%, $black);
}
