.bg-red {
  background-color: $red; 
  margin-bottom: 1rem !important; 
  margin-top: 10rem !important; 
  padding: 0.5rem !important; 
}

.jumbotron {
  margin-bottom: 0;
  background-position: center top;
  background-size: cover;
  position: relative;

  h2.header-text-bg {
    font-size: 4.5rem;
    line-height: 5rem;

    &.responsive-text {
      font-size: 2.75rem;

      @include media-breakpoint-up(sm) {
        font-size: 3.25rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 4.5rem;
      }
    }
  }

  .col-10 {
    padding-left: 0;

    @include media-breakpoint-up(md) {
      padding-left: 15px;
    }
  }

  .header-carousel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    div {
      width: 100%;
      height: 100%;
      background-position: center top;
      background-size: cover;
    }
  }
}

.padded-header {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.header-text-bg {
  letter-spacing: $letter-spacing-base;
  text-align: center;

  .tpl-tags &,
  .tpl-blog &,
  .tpl-post & {
    text-align: left;

    span {
      display: inline;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }

  span {
    line-height: 1;
    background-color: $red;
    padding: 0 1rem .5rem;
    text-transform: uppercase;
    color: $white;
  }
}

.subheading {
  line-height: 1.3;
  background-color: $red;
  padding: 0 1rem .5rem;
  letter-spacing: $letter-spacing-base;
  vertical-align: text-top;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: $white;
  font-family: $font-family-urwdin-cond;

  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

 @include media-breakpoint-up(md) {
    font-size: 2.8rem;
  }
}

.header-info {
  font-size: 1.3rem;
  letter-spacing: .3px;
  font-family: $font-family-urwdin-cond;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  text-transform: uppercase;
  color: $white;

 @include media-breakpoint-up(md) {
    padding-left: 1rem;
    padding-top: 8rem;
    font-size: 1.875rem;

  }

  @include media-breakpoint-up(lg)  {
    padding-top: 10rem;
  }
}

.tagline {
  font-size: 1.375rem;

 @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg)  {
    font-size: 1.6rem;
  }
}


.overlap-header {
 top: 0;

  @include media-breakpoint-up(md)  {
    top: -28px;
  }

  @include media-breakpoint-up(lg)  {
    top: -60px;
  }

  @include media-breakpoint-up(xl)  {
    top: -90px;
  }
}

.overlap-header-30 {
 top: -30px;
}

.wrapper {
  align-items: center;
  color: $white;
  display: flex;
  font-family: $font-family-urwdin-cond;
  margin: 0 10rem; 
  text-transform: uppercase;
  text-align: center; 
  width: 100%;

  @media (max-width: 768px) {
    margin: -4rem 10rem; 
  }

  h1  {
    display: inline-block;
    font-size: 4.5rem;
    margin: 0 auto;
    text-align: left;

    @media (max-width: 768px) {
      position: relative; 
      right: 8rem; 
      font-size: 1rem;
      top: -1.25rem;
    }
  }

  .spinny-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
}

// animation 

.word-carousel {
  color: $black;
  display: inline-block;
  left: 1rem; 
  min-width: 350px;
  position: relative;
  text-align: left;
  top: 3.125rem; 
}

.word-carousel span {
  animation: rotateWord 18s linear infinite;
  display: inline-block; 
  font-size: 4.5rem;
  opacity: 0;
  overflow: hidden; 
  position: absolute; 
  top: -30px; 
  width: 1500px; 

  @media (max-width: 768px) {
    font-size: 2.25rem;
    position: absolute;
    left: -8.75rem;
  }
}

.word-carousel span:nth-child(2) { 
  animation-delay: 3s; 
}

.word-carousel span:nth-child(3) { 
  animation-delay: 6s; 
}

.word-carousel span:nth-child(4) { 
  animation-delay: 9s; 
}

.word-carousel span:nth-child(5) { 
  animation-delay: 12s; 
}

.word-carousel span:nth-child(6) { 
  animation-delay: 15s; 
}

@keyframes rotateWord {
  0%   { opacity: 0; }
  2%   { opacity: 0; }
  5%   { opacity: 1; }
  17%  { opacity: 1; }
  20%  { opacity: 0; }
  80%  { opacity: 0; }
  100% { opacity: 0; }
}

