.jumbotron {
  margin-bottom: 0;
  background-position: center top;
  background-size: cover;
}

.padded-header {
  margin-top: 10rem;
  margin-bottom: 0;

  @media (min-width: $screen-md) {
    margin-top: 7rem;
    margin-bottom: 0;
  }
}

.header-text-bg {
  letter-spacing: $letter-spacing-base;
  text-align: center;
  margin-bottom: 3rem;

  & span {
    line-height: 1;
    background-color: $red;
    padding: 0 1rem .5rem;
    text-transform: uppercase;
    color: $white;
  }
}

.subheading {
  line-height: 1.3;
  background-color: $red;
  padding: 0 1rem .5rem;
  letter-spacing: $letter-spacing-base;
  vertical-align: text-top;
  font-size: 2.25rem;

  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  @media (min-width: $screen-md) {
    font-size: 2.8rem;
  }
}

.header-info {
  font-size: 1rem;
  letter-spacing: .3px;
  font-family: $font-family-urwdin-cond;
  padding-left: 1rem;
  padding-top: 8rem;
  padding-bottom: 1rem;
  text-transform: uppercase;

  @media (min-width: $screen-md) {
    padding-left: 0;
    padding-top: 8rem;
  }

  @media (min-width: $screen-lg) {
    padding-top: 10rem;
  }
}

.tagline {
  font-size: 1.375rem;

  @media (min-width: $screen-md) {
    font-size: 1.5rem;
  }

  @media (min-width: $screen-lg) {
    font-size: 1.6rem;
  }
}


.overlap-header {
 top: 0;

  @media (min-width: $screen-lg) {
    top: -50px;
  }
}

.overlap-header-30 {
 top: -30px;
}
