<div id="left" class="column span-16 append-1">
	<%= content_tag :h2, title('Add a New Category'), :class => 'object_title' %>
	<%= render 'form' %>
</div>
<div id="right" class="column span-7 last">
	<%= render 'admin/error_messages', :object => current_category %>
</div>