h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-urwdin-cond;
}

h1 {
  @media (max-width: $screen-md) {
    font-size: 4.5rem;
  }
}
h2 {
  @media (max-width: $screen-md) {
    font-size: 3rem;
  }
}
