h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-urwdin-cond;
}

h1 {
  @media (max-width: $screen-md) {
    font-size: 4.5rem;
  }
}
h2 {
  @media (max-width: $screen-md) {
    font-size: 3rem;
  }
}

.text-red {
  color: $red;
}

.object-fit-cover {
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.section-header {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 3rem;
  padding-top: $headings-padding-mobile;
  padding-bottom: 1.625rem;

  @media (min-width: $screen-md) {
    padding-top: $headings-padding-desktop;
    padding-left: 1rem;
  }

  &.home-header {
    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      font-size: 3rem;
    }
    @media (min-width: $screen-lg) {
      font-size: 4rem;
    }
  }

  &.extra-pb {
    padding-bottom: $headings-padding-mobile;
  }
}

.load-more {
  margin-top: $headings-padding-mobile;
}
