h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-urwdin-cond;
}

h1 {
  @include media-breakpoint-up(md) {
    font-size: 4.5rem;
  }
}

h2 {
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}

.text-red {
  color: $red;
}

.object-fit-cover {
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.load-more {
  margin-top: $headings-padding-mobile;
}

a .link-img {
  &:hover {
    .bg-gradient, img {
      background: rgba($white, .3);
    }
  }
}

.callout {
 font-family: $font-family-ltc-bodoni-175;
 line-height: 1.8rem;
 font-size: 2rem;
}

figcaption {
  background-color: $gray-200;
  font-size: .875rem;
  line-height: 1.25rem;
  text-align: right;
  font-style: italic;
  color: #757678;
  padding: 15px;
}

p a {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
    color: $gray-600;
  }
}
