.position-absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.font-family-urwdin-cond {
  font-family: $font-family-urwdin-cond;
}

.font-family-urwdin {
  font-family: $font-family-urwdin;
}

.font-family-bodoni {
  font-family: $font-family-ltc-bodoni-175;
}

aside {
  background-color: $red;
  color: $white;
  font-size: 1rem;
  padding: 2rem 1.8rem;
  font-family: $font-family-urwdin;

  & p {
    margin-bottom: 0;
  }

  & > h3 {
    font-size: 1rem;
    letter-spacing: .5px;
    font-family: $font-family-urwdin-cond;
    margin-bottom: 0;
    margin-top: 1rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.img-square {
  height: 350px;
  widows: 350px;
}

.pb-7 {
  padding-bottom: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}