.position-absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.font-family-urwdin-cond {
  font-family: $font-family-urwdin-cond;
}

.font-family-urwdin {
  font-family: $font-family-urwdin;
}

.font-family-bodoni {
  font-family: $font-family-ltc-bodoni-175;
}

.img-square {
  height: 350px;
  widows: 350px;
}

.pb-7 {
  padding-bottom: 7rem; //112px
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem; //128px
}

.zindex-back {
  z-index: -1;
}