.position-absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.header-text-bg {
  padding: 1rem;
  background-color: $red;
}

.tagline {
  font-size: 2rem;
  padding-top: 10rem;
  padding-bottom: 1rem;
  font-family: $font-family-urwdin-cond;
}

.overlap-header {
  margin-top: -120px;
}

.font-family-urwdin-cond {
  font-family: $font-family-urwdin-cond;
}

.font-family-urwdin {
  font-family: $font-family-urwdin;
}

.img-square {
  height: 350px;
  widows: 350px;
}