// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sport: #f5b83c;
$corporate: #3186c7;
$government: #578f76;
$education: #8b8f25;
$lifestyle: #c93939;
$religious: #7c629a;

body {
	color: #a1a1a1; 
	background: #171717;
}

ul, ol {
	margin: 0; 
	padding: 0; 
}

a, a:hover {
	color: #FFF;
	text-decoration: none;
}

h1, h2, h3, h4 {
	color: #707070;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 20px;
}

.frame {
	border: 3px solid #FFF;
	margin: 0 10px 0 0;
}

.left {
	float: left; 
}

.right {
	float: right; 
}

section#header {
	background: #0a0a0a url(/assets/elements/nav-bgx.png) repeat-x bottom left;
	ul {
		margin: 0; 
		padding: 0; 
	}
	li {
		float: right; 
		list-style-type: none;
	}
	li a {
		font-size: 13px;
		display: block; 
		padding: 30px 15px 10px;
		border-left: 1px solid #222121;
		border-right: 1px solid #000;
		color: #7D7D7D;
	}
	img#logo {
		float: left;
		margin: 30px 15px 10px;
	}
	nav {
		float: right; 
		width: 750px; 
	}
}

.msa-sport {
	border-style: solid; 
	border-color: $sport;
}

.msa-corporate {
	border-style: solid; 
	border-color: $corporate;
}

.msa-government {
	border-style: solid; 
	border-color: $government;
}

.msa-education {
	border-style: solid; 
	border-color: $education;
}

.msa-lifestyle {
	border-style: solid; 
	border-color: $lifestyle;
}

.msa-religious {
	border-style: solid; 
	border-color: $religious;
}


section#footer {
	font-size: 11px; 
	padding: 20px 0 40px;
	a {
		color: #a1a1a1;
	}
	div#segments {
		a {
			font-weight: bold;
			border-bottom-width: 2px;
		}
		li {
			margin-right: 20px;
			list-style-type: none;
			float: left; 
			strong {
				font-size: 14px;
				color: #FFF;
			}
		}
		p {
			margin-top: 15px;
			clear: left; 
		}
	}
	div#social {
		text-align: right;
		a {
			padding-right: 24px;
			margin-bottom: 2px;
			background: url(/assets/elements/social-icons.gif) no-repeat top right;
			display: block; 
			height: 18px;
		}
		a.linkedin {
			background-position: 100% -20px;
		}
		a.sharethis {
			background-position: 100% -40px;
		}
	}
}

body.homepage {
	section#main {
		min-width: 950px; 
		background: url(/assets/pages/homepage/government-square.jpg) no-repeat center center;
		background-size: 100%;
		background-origin: padding-box;
		div.span-6, 
		div.span-5 {
			margin: 20px 0;
		}
	}
	.dark {
		color: #FFF;
		background: rgba(0,0,0,0.75);
		margin-bottom: 20px;
		padding: 20px;
		font-size: 14px;
		line-height: 20px;
		span {
			color: #959595; 
		}
		p {
			margin-bottom: 0;
		}
		li {
			list-style-type: none;
		}
		p.valign {
			padding-top: 10px;
		}
	}
	.caption {
		padding: 10px 0; 
		margin-bottom: 0;
	}
	h1 {
		text-transform: uppercase;
		text-align: right;
		strong {
			display: block; 
		}
	}
	h1.dark {
		padding: 30px 20px;
		font-size: 70px;
		line-height: 70px;
	}
}

section#secondary {
	background: #1f1f1f url(/assets/elements/bgxy.png) repeat top left; 
	border: 1px solid #373737;	
	border-width: 1px 0; 
	padding: 20px 0;
	h2 {
		margin-bottom: 10px;
		text-shadow: -1px -1px 1px #000000;
		filter: dropshadow(color=#000000, offx=-1, offy=-1);
	}
	h3 {
		font-size: 14px;
		line-height: 18px;
		color: #FFF;
		margin: 7px 0 9px;
	}
	p {
		font-size: 12px; 
		line-height: 15px;
	}
}

