---
layout: default
---

{% include page-header.html subtitle=' ' css='text-left' %}

<main class="contact">
  <div class="container">
    <nav class="button-nav">
      <div class="button-col"><a href="#locations"><button class="btn btn-red btn-block">
        locations
      </button></a></div>
      <div><a href="#email"><button class="btn btn-red btn-block">
        email
      </button></a></div>
      <div><a href="#careers"><button class="btn btn-red btn-block">
        careers
      </button></a></div>
    </nav>
    <div id="locations">
      <h2 class="section-header">locations</h2>

      {% assign blocks = page.has_many.blocks | where: "content_type", "media_object" %}
      {% include blocks.html collection=blocks %}

    </div>
  </div>
  <article id="email" class="container-fluid contact-form">
    <div data-role="email-success" class="email-success" style="display: none;">
      <div>
        <h2 class="section-header">Thank you</h2>
        <p class="callout">Your message has been received.</p>
      </div>
    </div>

    <div data-role="email-form">
      <h2 class="section-header">Drop Us a Line</h2>
      <section class="email-form">
        <div>
          <form id="contact-form" name="contact" method="POST" netlify novalidate>
            <div>
              <div>
                <input class="form-control" type="text" aria-label="first name" name="first-name" placeholder="First Name" required />
              </div>
              <div>
                <input class="form-control" type="text" aria-label="last name" name="last-name" placeholder="Last Name" required />
              </div>
            </div>
            <div>
              <div>
                <input class="form-control" type="phone" aria-label="phone" name="phone" placeholder="Phone" required/>
              </div>
              <div>
                <input class="form-control" type="email" aria-label="email" name="email" placeholder="Email" required/>
              </div>
            </div>
            <div>
              <select class="custom-select" name="role[]" aria-label="subject">
                <option selected>subject</option>
                <option value="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</option>
                <option value="Adipiscing elit">Adipiscing elit</option>
                <option value="Sed do eiusmod tempor">Sed do eiusmod tempor</option>
                <option value="Incididunt ut labore et dolore magna aliqua">Incididunt ut labore et dolore magna aliqua</option>
                <option class="custom-option" value="Write your own">Write your own</option>
              </select>
              <i class="fas fa-chevron-down"></i>
            </div>
            <div data-role="email-custom-subject" class="d-none">
              <textarea rows="1" class="form-control contrast" aria-label="subject" name="custom-subject" placeholder="Enter subject here"></textarea>
            </div>
            <div>
              <textarea rows="8" class="form-control" aria-label="message" name="message" placeholder="Message"></textarea>
            </div>
            <div>
              <div data-role="email-alert" class="alert" style="display: none;">
                <span class="red-box">!</span>
                <span data-role=email-message class="message"></span>
              </div>
              <div class="form-submit">
                <button class="btn-white" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </article>

  {% if site.careers.size > 0 %}
  <div class="container">
    <article id="careers">
      <section class="careers-section">
        {% assign blocks = page.has_many.blocks | where: "content_type", "text_object" %}
        {% include blocks.html collection=blocks %}
        <div class="careers-list">
          {% for career in site.careers %}
          <div>
            <h3>{{ career.title }}</h3>
            {{ career.content }}
          </div>
          {% endfor %}
        </div>
      </section>
    </article>
  </div>
  {% endif %}

</main>
