---
layout: default
---

<header class="jumbotron jumbotron-fluid pb-0" style="background-image: url('{{ "/assets/images/banner.jpg" | absolute_url }}');">
  <div class="container text-uppercase text-white">
    <div class="row justify-content-md-center">
      <div class="col-10 col-md-6 col-lg-11 col-xl-12">
        <div class="padded-header">
          <h1 class="header-text-bg header-text-l text-xl-center">
            <span>
              {{ page.title }}
            </span>
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="header-info tagline text-uppercase">{{ page.subtitle }}</p>
    </div>
  </div>
</header>
<main class="container main-home {{ page.path | slugify }}">

  {% assign blocks = page.associations.blocks | where:"content_type", "media_object" %}
  {% include blocks.html collection=blocks %}

  <section class="home-featured-links">
    <picture class="line-bg line-bg-c">
      <source media="(min-width: 576px)" srcset="{{ "/assets/svgs/home-blocks-rect.svg" }}">
      <img src="{{ "/assets/svgs/home-blocks-rect-m.svg" | absolute_url }}" alt="">
    </picture>
    {% assign blocks = page.associations.blocks | where:"content_type", "feature" %}
    {% include blocks.html collection=blocks %}
  </section>
</main>