---
layout: default
---

{% include page-header.html %}

<main class="container">
  {% if page.has_many.case_studies.size > 0 %}
  <article>
    <div class="row">
      <div class="col">
        <h2 class="section-header">case studies</h2>
      </div>
    </div>
    {% assign blocks = page.has_many.case_studies %}
    {% include blocks.html collection=blocks css='row no-gutters' %}
  </article>
  {% endif %}

  {% if page.has_many.projects.size > 0 %}
  <section>
    <div class="pb-7">
      <div class="row">
        <div class="col-12">
          <h2 class="section-header">featured projects</h2>
        </div>
      </div>
      {% assign blocks = page.has_many.projects  %}
      {% include blocks.html collection=blocks css='row no-gutters d-flex flex-wrap' %}

      <!-- <div class="col-12 load-more">
        <a href="#" class="button btn-outline-light btn-gray-light btn-block text-uppercase" data-role="load-more" data-paginate="{{ include.collection }}">
          See More Projects
        </a>
      </div> -->
    </div>
  </section>
  {% endif %}

  {% if page.has_many.projects.size < 1 and page.has_many.case_studies.size < 1 %}
  <article>
    <div class="row pb-7">
      <div class="col-12">
        <h2 class="section-header">Information</h2>
      </div>
      <div class="col-12">
        <p>More information about this market is coming soon!</p>
      </div>
    </div>
  </article>
  {% endif %}
</main>