---
layout: default
---

{% include page-header.html %}

<main class="post container">
  <div class="row">
    <article class="overlap-header">
      <div class="key-lines"></div>
      <div class="post-content">
        <div>
          <div class="author-media-object link-card">
            <div class="author-image">
              {% if page.author.image %}
                <img class="w-100" ix-src="{{ page.author.image.url | imgix }}" sizes="{{ site.image_sizes.author_blocks }}" alt="{{ page.author_title }}">
              {% endif %}
            </div>
            <div>
              <p class="link-title">{{ page.author.first_name }} {{ page.author.last_name }}, <span>{{ page.author.credentials }}</span></p>
              <p class="link-body">{{ page.author.title }}</p>
            </div>
          </div>

          {% assign blocks = page.blocks %}
          {% include blocks.html collection=blocks %}
        </div>
      </div>
    </article>

    <div class="page-info">
      <aside>
        {% if page.location %}
          <h3>Location</h3>
          {{ page.location }}
        {% endif %}

        <h3>date</h3>
        {{ page.published_at | date: '%B %d, %Y' }}

        {% if page.tags.size > 0 %}
          <h3>tags</h3>
          {% for tag in page.tags %}
          <a href="/design-thinking/tags/{{ tag.slug }}">
            <p>{{ tag.title }}</p>
          </a>
          {% endfor %}
        {% endif %}
      </aside>
    </div>
  </div>

  {% assign recent = site.posts | exclude: 'title', page.title | slice: 0, 4 %}
  {% if recent.size > 0 %}
  <section>
    <div class="row no-gutters pb-7">
      <div class="col-12">
        <h2 class="section-header">More Design Thinking</h2>
      </div>
      {% for post in recent %}
        {% include posts/post.html post=post %}
      {% endfor %}
    </div>
  </section>
  {% endif %}
</main>