---
layout: default
---

{% include page-header.html %}

<main class="container">
  {% include detail-layout.html %}

  <div class="container" id="project-wayfind-links">
    {% for market in page.links_to.markets %}
    <a href="/markets/{{ market.slug }}" class="button-link">
      <button class="btn-gray-light"> < Back to {{ market.title }}</button>
    </a>
    {% endfor %}
  </div>

  {% assign features = page.has_many.blocks | where:"content_type", "feature" %}
  {% if features.size > 0 %}
  <section>
    <div class="row no-gutters pb-7">
      <div class="col-12">
        <h2 class="section-header">featured projects</h2>
      </div>
      {% assign projects = features | reverse | slice: 0, 5 %}
      {% for project in projects %}

      <div class="col-6 col-md-3">
        <section class="link-card">
          <a href="{{ project.href }}">
            <div class="link-img link-img-tall">
              <img class="img-fluid w-100 object-fit-cover" ix-src="{{ project.image | imgix }}" sizes="{{ site.image_sizes.blocks }}" alt="{{ project.title }}">
              <h3 class="link-title text-red">{{ project.title }}</h3>
            </div>
          </a>
          <div class="link-body">
            {{ project.subtitle }}
          </div>
        </section>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}
</main>