---
layout: default
---

{% include page-header.html %}

<main class="container">
  {% include detail-layout.html %}

  <div class="container" id="project-wayfind-links">
    {% for market in page.markets %}
    <a href="/markets/{{ market.slug }}" class="button-link">
      <button class="btn-gray-light btn-gray-link"> < Back to {{ market.title }}</button>
    </a>
    {% endfor %}
  </div>

  {% assign features = page.blocks | where:"content_type", "feature" %}
  {% if features.size > 0 %}
  <section>
    <div class="pb-7">
      <div class="row">
        <div class="col-12">
          <h2 class="section-header">featured projects</h2>
        </div>
      </div>

      <div class="row no-gutters">
        {% assign projects = features | reverse | slice: 0, 5 %}
        {% for project in projects %}

        <div class="col-6 col-md-3">
          <section class="link-card">
            <a href="{{ project.href }}">
              <div class="link-img">
                <img class="object-fit-top" src="{{ project.image.url | imgix: 'w=275&h=210&fit=crop&crop=entropy' }}" srcset="{{ project.image.url | imgix_srcset: 'w=275&h=210&fit=crop&crop=entropy' }}" sizes="{{ site.image_sizes.cards_4x }}" alt="{{ project.title }}">
                <h3 class="link-title text-red">{{ project.title }} {{ project.subtitle | strip_html }}</h3>
              </div>
            </a>
          </section>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
</main>