---
layout: default
---

{% include page-header.html subtitle='thought leadership & community' title='design thinking' %}

<main class="container">
  <section>
    <div class="pb-7">
      <div class="row">
        <div class="col-12">
          <h2 class="section-header">{{ page.title }}</h2>
        </div>
      </div>

      {% for post in page.posts %}
        {% assign n = forloop.index0 | modulo: 4 %}
        {% if n == 0 %}<div class="row no-gutters">{% endif %}
        <div class="col-6 col-md-3">
          <section class="link-card">
            <a href="{{ post.url }}">
              <div class="link-img">
                <img class="img-fluid w-100" src="{{ post.image.url | imgix: 'w=400&h=300&fit=crop&crop=entropy' }}" srcset="{{ post.image.url | imgix_srcset: 'h=300&fit=crop&crop=entropy' }}" sizes="{{ site.image_sizes.cards_4x }}" alt="{{ post.title }}">
                <h3 class="link-title text-red">{{ post.title }}</h3>
              </div>
            </a>
          </section>
        </div>
        {% if n == 3 %}</div>{% endif %}
      {% endfor %}

    </div>
  </section>
</main>