---
layout: default
---

<!-- Sort order for Markets -->
{% assign market_order = 'Sport Education Corporate Civic Transportation Lifestyle Religious Interiors Graphics' | split: ' ' %}

{% include page-header.html %}

<main class="container main-work">

    {% if page.content.size > 1 %}
    <div class="line-bg">
      <div class="key-lines"></div>
    </div>
    <section class="lead-content">
      <div>
        <div>
          {{ page.content }}
        </div>
      </div>
    </section>
    {% endif %}

  <article>
    <div class="row">
      <div class="col">
        <h2 class="section-header">markets</h2>
      </div>
    </div>
    <div class="row no-gutters">
      {% for order in market_order %}
        {% for market in site.markets %}
          {% unless market.url contains '/page/' %}
            {% if order == market.title %}
            <div class="col-12 col-md-6 pb-3 mb-3">
              <section class="link-card">
                <a href="{{ market.url }}">
                  <div class="link-img link-img-2x">
                    <img class="img-fluid w-100 object-fit-cover" ix-src="{{ market.image | imgix: 'w=480&h=270&fit=crop&crop=entropy' }}" sizes="{{ site.image_sizes.cards_2x }}" alt="{{ market.title }}">
                    <div class="bg-gradient-light"></div>
                    <h3 class="link-title title-overlap title-overlap-2x">{{ market.title }}</h3>
                  </div>
                </a>
              </section>
            </div>
            {% endif %}
          {% endunless %}
        {% endfor %}
      {% endfor %}
    </div>
  </article>

  <section>
    <div class="pb-7">
      <div class="row">
        <div class="col-12">
          <h2 class="section-header">featured projects</h2>
        </div>
      </div>
      {% assign blocks = page.has_many.blocks | where:"content_type", "feature" %}
      {% include blocks.html collection=blocks css='row no-gutters' %}
    </div>
  </section>
</main>