---
layout: default
---

{% include page-header.html %}

<main class="container main-work">
  <article>
    <div class="row">
      <div class="col">
        <h2 class="section-header">markets</h2>
      </div>
    </div>
    <div class="row no-gutters">
      {% for market in site.markets %}
      <div class="col-12 col-md-6 pb-3 mb-3">
        <section class="link-card">
          <a href="{{ market.url }}">
            <div class="link-img link-img-2x">
              {% assign project = market.has_many.projects | first %}
              <img class="img-fluid w-100 object-fit-cover" src="{{ project.image | imgix: 'w=480&h=270&fit=crop&crop=entropy' }}" alt="{{ market.title }}">
              <div class="bg-gradient-light"></div>
              <h3 class="link-title title-overlap title-overlap-2x">{{ market.title }}</h3>
            </div>
          </a>
        </section>
      </div>
      {% endfor %}
    </div>
  </article>

  <section class="featured-projects">
    <div class="pb-7">
      <div class="row">
        <div class="col-12">
          <h2 class="section-header">featured projects</h2>
        </div>
      </div>
      {% assign blocks = page.has_many.blocks | where:"content_type", "feature" %}
      {% include blocks.html collection=blocks css='row no-gutters' %}
    </div>
  </section>
</main>