.about {
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    overflow: visible;
  }

  h2 {
    padding-left: 0;
  }

  .button-nav {
    @include make-row();
    padding-top: 2rem;

    > div {
      @include make-col-ready();
      @include make-col(12);

      &:not(:first-child) {
        padding-top: 1rem;
      }

      @include media-breakpoint-up(md) {
        @include make-col(4);

        &:not(:first-child) {
          padding-top: 0;;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .media-object {
    position: relative;
    @include make-row();
    margin-top: 5.5rem;

    &:first-of-type {
      margin-top: 3.5rem;
    }

    @include media-breakpoint-up(md) {
      margin-top: 5.5rem;

      &:last-of-type {
        margin-top: 3rem;
      }
    }

    h3 {
      @extend .callout;
      color: $red;
      font-size: 1.625rem;
      line-height: 1.625rem;

      @include media-breakpoint-up(md) {
        font-size: 2rem;
        line-height: 2.25rem;
      }
    }

    &.home-content-right {
      text-align: right;

      .media-object-content {
        position: relative;
        @extend .justify-content-end;
        @include make-col-ready();

        @include media-breakpoint-up(md) {
          > div {
            @include make-col(6);
            @include make-col-offset(6);
          }
        }

        img {
          max-height: 350px;
        }
      }

      .line-bg {
        top: -30px;
        right: -30px;

        img {
          height: 277px;
          width: 302px;
        }

      }

      &:last-of-type {
        .line-bg {
          top: 0;
          left: -50px;
          right: auto;

          @include media-breakpoint-up(md) {
            top: 62px;
            left: auto;
            right: 350px;
          }

          img {
            width: 200px;

            @include media-breakpoint-up(md) {
              height: 168px;
              width: auto;
            }
          }
        }
      }
    }

    &.home-content-left {
      text-align: left;

      .media-object-content {
        position: relative;
        @extend .justify-content-start;
        @include make-col-ready();

        @include media-breakpoint-up(sm) {
          > div {
            @include make-col(6);
          }
        }

        img {
          position: absolute;
          width: 444px;
          left: -20%;

          @include media-breakpoint-up(md) {
            min-height: 331px;
            position: relative;
            left: 0;
          }
        }

        .media-object-text {
          margin-top: 280px;
          @include media-breakpoint-up(md) {
            margin-top: 0;
          }
        }
      }

      .line-bg {
        top: -31px;
        left: 1rem;

        @include media-breakpoint-up(md) {
          top: -86px;
          left: 189px;
        }

        img {
          height: 245px;
          width: 360px;

          @include media-breakpoint-up(md) {
            height: 361px;
            width: 445px;
          }
        }
      }
    }

    .section-header {
      padding-top: .3rem;
      padding-bottom: 0;
      margin-bottom: .3rem;
    }
  }

  .team-cards {
    display: flex;
    flex-wrap: wrap;

    & > div {
      @include make-col-ready();
      @include make-col(6);
      // @extend .no-gutters;
      padding-left: 0;
      padding-right: 0;

      @include media-breakpoint-up(md) {
        @include make-col(3);
      }
    }

    img {

    }

    .link-title {
      color: $red;
    }
  }

  .awards-section {

    .award-header {
      position: relative;
      margin-top: 2.25rem;

      > img {
        width: 100%;
      }

      > p {
        color: $white;
        font-family: $font-family-urwdin-cond;
        position: absolute;
        letter-spacing: .5px;
        font-size: 1.5rem;
        line-height: 1.5rem;

        @include media-breakpoint-up(md) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }

    .left {
      .award-header > p {
        left: 5%;
        right: auto;
        top: 36%;
        bottom: auto;

        @include media-breakpoint-up(md) {
          left: 8%;
          top: 45%;
        }
      }
    }

    .right {
      .award-header > p {
        left: auto;
        right: 5%;
        top: 36%;
        bottom: auto;

        @include media-breakpoint-up(md) {
          right: 8%;
          top: 45%;
        }
      }
    }

    .awards-list {

      > div {
        // @include make-col-ready();
        // @include make-col(12);
        padding-top: $headings-padding-mobile;

        @include media-breakpoint-up(md) {
          // @include make-col(6);
        }

        &:first-of-type {
          padding-top: 3.45rem;
        }
      }

      h3 {
        @extend .callout;
        color: $red;
        font-size: 2rem;
        line-height: 2.25rem;

        @include media-breakpoint-up(md) {
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }
  }
}