.tpl-project,
.tpl-case-study {
  .block-media-objects,
  .block-text-objects {
    @include make-row();
  }

  .text-object,
  .block-media-objects {
    margin-bottom: 1rem;
  }

  .media-object {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(10);
      @include make-col-offset(1);
      &.portrait {
        @include make-col(8);
        @include make-col-offset(2);
      }
      &.left,
      &.right {
        @include make-col(5);
      }
      &.right {
        @include make-col-offset(0);
      }
      &.wide {
        @include make-col(12);
        @include make-col-offset(0);
        figcaption {
          @include make-col(7);
          margin-left: auto;
        }
      }
    }

    &.wide {
      figcaption {
        background: transparent;
        margin-top: 1rem;
        font-size: 1rem;
        font-style: normal;
        line-height: 1.5;
        color: $gray-900;
      }
    }
  }

  .jumbotron {
    padding: 6rem 0;

    @include media-breakpoint-up(sm){
      padding: 10rem 5rem;
    }

    .col-10 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .padded-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;

    @include media-breakpoint-up(md) {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    .header-text-bg {
      text-align: left;
      margin-bottom: 0;
      font-size: 3.5rem;
      line-height: 4rem;

      @include media-breakpoint-up(md) {
        margin-top: 5rem;
        font-size: 4.5rem;
        line-height: 5rem;
      }
    }
    span {
      display: inline;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }

  .text-object {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(6);
      @include make-col-offset(3);
      &.right {
        @include make-col(7);
        @include make-col-offset(5);
      }
    }
    &.right {
      text-align: right;
    }
  }

  .media-object,
  .text-object {
    margin-top: 0;
    padding-top: 0;
    @include media-breakpoint-up(sm) {
      padding-bottom: 3rem;
    }
  }

  .header-text-bg {
    text-align: left;
    margin-bottom: 0;
  }

  .line-bg {
    top: -30px;
    left: -30px;

    @include media-breakpoint-up(md) {
      top: -36px;
      left: 190px;
    }
  }

  .key-lines {
    width: 203px;
    height: 197px;

    @include media-breakpoint-up(md) {
      width: 550px;
      height: 400px;
    }
  }

  .intro-image {
    width: 100%;
    height: auto;
    min-height: 400px;
    max-height: 550px;
    padding-bottom: 1.75rem;
    object-fit: cover;
  }

  .project-highlight {
    @include media-breakpoint-up(md) {
      top: 130px;
      margin-bottom: 0.5rem;
    }
  }

  #cs-wayfind-links {
    text-align: center;
    margin-top: 0;
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;

    @include media-breakpoint-up(md) {
      padding-top: 2rem;
      padding-bottom: 6rem;
    }
  }

  #project-wayfind-links{
    @extend #cs-wayfind-links;
    padding-top: 1rem;
    padding-bottom: 2.5rem;

    @include media-breakpoint-up(md) {
      padding-bottom: 2rem;
    }
  }

  .btn-gray-light {
    margin: 1.5rem 1rem;

    @include media-breakpoint-up(md) {
      margin: 0 1rem;
    }
  }
}