.main-home {
  @media (max-width: $screen-sm) {
    overflow: hidden;
  }
}

.media-object {
  margin-top: 7rem;
  @media (min-width: $screen-sm) {
    margin-top: 5rem;
  }
}

.home-content-right {
  .line-bg {
    @extend .line-bg-r;
  }
  > .row {
    @extend .justify-content-end;
    > div {
      text-align: right;
      &:first-child {
        @extend .order-sm-12;
      }
    }
  }
}

.home-content-left {
  .line-bg {
    @extend .line-bg-l;
  }

  > .row {
    // @extend .bg-left;
    > div {
      text-align: left;
    }
  }
}

.home-featured-links {
  position: relative;
  margin-top: 6rem;

  @media (min-width: $screen-sm) {
    margin-top: 8rem;
  }

  .block-features {
    @include make-row();
    @extend .no-gutters;
    @extend .pb-7;
  }
}
