.tpl-home {

  .main-home {
    @include media-breakpoint-down(xs) {
      overflow: hidden;
    }
  }

  .media-object {
    margin-top: 7rem;
    @include media-breakpoint-up(sm) {
      margin-top: 5rem;
    }
  }

  .header-text-bg {
    @include media-breakpoint-down(lg)  {
      text-align: left;

      span {
        display: inline;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
      }
    }
  }

  .home-content-right {
    .line-bg {
      top: -30px;
      right: -30px;

      .red-lines {
        height: 225px;
        width: 250px;

        @include media-breakpoint-up(lg) {
          height: 277px;
          width: 316px;
        }
      }
    }
    > .row {
      @extend .justify-content-end;
      > div {
        text-align: right;
        &:first-child {
          @extend .order-sm-12;
        }
      }
    }
  }

  .home-content-left {
    .line-bg {
      top: -36px;
      left: -30px;

      .red-lines {
        height: 224px;
        width: 217px;
      }
    }

    > .row {
      // @extend .bg-left;
      > div {
        text-align: left;
      }
    }
  }

  .section-header {
    line-height: 1;
    padding-top: 1.0rem;
    padding-bottom: .5rem;
    padding-left: 0;

    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }

  .home-featured-links {
    position: relative;
    margin-top: 6rem;

    @include media-breakpoint-up(sm) {
      margin-top: 8rem;
    }

    .block-features {
      @include make-row();
      @extend .pb-7;
      @extend .no-gutters;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .callout {
    font-family: $tk-urwdin;
    line-height: 1.8rem;
    font-size: 1.625rem;
    color: $black;
  }
}
