<section id="alpha"<%= current_page.background %> class="clearfix">
	<div class="container">
		<div class="span-15 last intro">
      <div class="span-9 append-6 clearfix dark">
        <%= content_tag :h1, current_page.subtitle.html_safe unless current_page.subtitle.blank? %>
        <%= current_page.body.to_html.html_safe unless current_page.body.blank? %>
  		</div>
		</div>
	</div>
</section>